@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveDots {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-move-dots {
  animation: moveDots 2s linear infinite;
}